@{
    ViewData["Title"] = "Home Page";
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SprofeOficial</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    </environment>
</head>
<body class="p-0">
<nav class="navbar navbar-expand-md navbar-light bg-light">
        <a  href="#"><img src="https://image.ibb.co/gRf2Y0/SP.png" ></a>
        <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse float-right" id="collapsibleNavbar" > 
            <div class="ml-auto text-center p-2">
             <button class=" btn btn-info text-white" data-toggle="modal" data-target="#login">Iniciar Sesion</button>
             <button class=" btn btn-info text-white" data-toggle="modal" data-target="#signup">Crear Usuario</button>        
            </div>          

          <!-- Modal -->
            <div class="modal fade" id="login" role="dialog">
                <div class="modal-dialog">
    
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Inicia Sesion</h4>
                        </div>
                        <div class="modal-body"><!-------formulario--->
                            <div class="container">
                                <form action="">
                                <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" placeholder="Ingresa tu email" name="email">
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Contraseña:</label>
                                    <input type="password" class="form-control" id="pwd" placeholder="Ingresa tu contraseña" name="pswd">
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="remember"> Recuerdame
                                    </label>
                                </div>
                                <a asp-area="" asp-controller="IndexInside" asp-action="IndexIs">wololo</a>
                                <button type="submit" class="btn btn-primary">Ingresar</button>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
      
                </div>
            </div>
                    <!-- Modal 2 -->
            <div class="modal fade" id="signup" role="dialog">
                <div class="modal-dialog">
    
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Crear Cuenta</h4>
                        </div>
                        <div class="modal-body"><!-------formulario--->
                            <div class="container">
                                <form action="">
                                    <div class="form-group">
                                        <label for="email">Email:</label>
                                        <input type="email" class="form-control" id="email" placeholder="Ingresa tu email" name="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="pwd">Contraseña:</label>
                                        <input type="password" class="form-control" id="pwd" placeholder="Ingresa tu contraseña" name="pswd">
                                    </div>
                                    <div class="form-group form-check">
                                        <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="remember"> Recuerdame
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Crear Cuenta</button>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>  
                </div>
            </div>
        </div>  
    </nav>
 <div class=""></div>
      <main role="main" class="bg-info">

      <div class="jumbotron ">
        <div class="container">
          <h1 class="display-4 animated bounceInLeft">Bienvenido a Sprofe</h1>
          <p>La plataforma virtual que te ayuda a escoger el profesor indicado.</p>
          <button class=" btn btn-outline-info btn-lg" data-toggle="modal" data-target="#signup">Crea tu cuenta aqui</button>


        </div>
      </div>

      <div class="container text-center">    
        <div class="row">
          <div class="col-md-4 text-light">
            <i class="fas fa-star-half-alt fa-7x pb-5 animated zoomIn"></i>
            <h2>Califica</h2>
            <p>Otorgale una calificación a tu profesor y deja tu opinion para que otros estudiantes se puedan ayudar de esta. </p>
          </div>
          <div class="col-md-4 text-light">
            <i class="fas fa-search fa-7x pb-5 animated zoomIn"></i>
            <h2>Busca</h2>
            <p class="mb-0">¿Quieres encontrar a Sprofe?  </p>
            <p>Con la herramienta de busqueda podrás encontrar a Sprofe que tanto buscas con detalles como por ejemplo su metodo de enseñanza y que tal califica.</p>
          </div>
          <div class="col-md-4 text-light">
              <i class="fas fa-check-circle fa-7x pb-5 animated zoomIn"></i>
              <i class="far fa-times-circle fa-7x pb-5 animated zoomIn"></i>
            <h2>Compara</h2>
            <p>Tenemos una larga lista de profesores que laboran en la universidad de la cual puedes ayudarte para encontrar y comparar para asi decidir por el profesor mas adecuado a tu necesidades.</p>
          </div>
        </div>
        <hr>

      </div> 

    </main>

            <footer class="text-center fixed-bot">
            <p>&copy; 2018 - SprofeOficial</p>
        </footer>
    
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  

    
</body>
</html>