    <main role="main">
        <div class="container-fluid">
            <div class="row">
               <div class="col-2"></div>
               <div class="col-8">
                   <div class="row">
                       <div class="col-4 text-center">
                            <i class="fas fa-user fa-7x text-center mt-3"></i>
                       </div>
                       <div class="col-8">
                        <h3>Datos:</h3>
                        <h5>Nombre:</h5>
                        <h5>Edad:</h5>
                        <h5>Correo:</h5>
                        <h5>Años de experiencia:</h5>
                        <a href="#" class="btn btn-outline-primary">Califica a este profesor</a>

                       </div>
                   </div>
                   <h3>Estadisticas:</h3>
                   <h5>Calificación general</h5>
                   <div class="progress mb-2">
                    <div class="progress-bar " role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                  </div>
                  <h5>Calificación general</h5>
                  <div class="progress mb-2">
                    <div class="progress-bar " role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                  </div>
                  <h5>Calificación general</h5>                           <div class="progress mb-2">
                    <div class="progress-bar " role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                  </div>
                  <h5>Calificación general</h5>
                  <div class="progress mb-2">
                    <div class="progress-bar " role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                  </div>
                  <div class="border border-secondary"">
                        los comentarios apareceran aqui
                  </div>
                  <form>
                    <div class="form-group">
                      <label for="comentario">Ingresa un comentario</label>
                      <input type="text" class="form-control" id="comentario" placeholder="Recuerda comentar educadamente">
                    </div>
                    <button type="submit" class="btn btn-primary">Comentar</button>

                  </form>
               </div>
               <div class="col-2"></div>
            </div>
            
        </div>
    
          
    
        </main>